<div class="composer animate composer-container">
  <div class="composer-dropzone-wrapper"></div>
 
  <composer-encrypt 
     class="composerOptions-container composer-options-encryption" 
     data-message="message"></composer-encrypt>
  
  <div class="meta composer-meta">
    
    <composer-input-meta 
       data-model="message" 
       data-label="To" 
       data-key="ToList" 
       class="row toRow composer-field-ToList"></composer-input-meta>
    
    <composer-input-meta 
       data-model="message" 
       data-label="CC" 
       data-key="CCList"
       class="row ccRow composer-field-CCList"></composer-input-meta>
    
    <composer-input-meta 
       data-model="message"
       data-label="BCC" 
       data-key="BCCList" 
       class="row bccRow composer-field-BCCList"></composer-input-meta>
    
    <composer-subject class="row subjectRow composer-field-Subject"></composer-subject>
  </div>
  <section class="flex composer-section">
    <div class="composeEditor fill">
      <composer-ask-embedded class="askEmbedding composer-askEmbedding"></composer-ask-embedded>
      
      <div 
         class="dropzone composer-dropzone fill" 
         id="dropzone_message{{::message.ID}}"></div>

    </div>
  </section>
  
  <footer>
    <button class="pm_button composer-btn-attachment needsclick"
            data-action-composer="::message" 
            data-action-composer-type="addFile">
      <i class="fa fa-paperclip">Add file</i>
    </button>
    
    <button 
       ng-disabled="message.disabledOthers() || message !== selected" 
       ng-click="togglePanel(message, 'encrypt')">
      <i class="fa fa-lock"></i>
    </button>
    
    <button 
       class="pm_button composer-btn-expiration" 
       ng-disabled="message.disabledOthers() || message !== selected" 
       ng-click="togglePanel(message, 'expiration')">
      <i class="fa fa-hourglass-end"></i>
    </button>
    
    <div class="pull-right">
      <composer-time class="desktopOnly"></composer-time>
      <button 
         class="pm_button composer-btn-discard" 
         ng-disabled="message.disabledDiscard()" 
         ng-click="discard(message)">
        <i class="fa fa-trash-o"></i>
        <span>Discard</span>
      </button>
      
      <button 
         class="pm_button composer-btn-save" 
         ng-click="save(message, true, false)">
        <i class="fa fa-floppy-o"></i>
        <span>Save</span>
      </button>
      <button 
	 class="pm_button composer-btn-save"
         ng-click="send(message)">
	<i class="fa fa-send"></i>
	<span>Send</span>
      </button>
    </div>
  </footer>
</div>
