<div 
    class="pm_modal important {{ctrl.class}} generateModal-container" 
   role="dialog">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ ::ctrl.title }}</h4>
            </div>
            <div class="modal-body pm_form">
                <p class="generateModal-key-about">{{ ::ctrl.message }}</p>
                <div class="pm_grid" ng-if="ctrl.askPassword">
                    <div class="col-1-2">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-1-2">
                        <input id="password" type="password" ng-model="ctrl.password" />
                    </div>
                </div>
                <div class="pm_grid generateModal-key-config">
                    <div class="col-1-2 text-center">
                        <label class="checkbox">
                            <custom-radio data-custom-ng-model="ctrl.size" data-custom-ng-value="2048"></custom-radio>
                            <strong>High security</strong> <small>(2048-bit)</small>
                        </label>
                    </div>
                    <div class="col-1-2 text-center">
                        <label class="checkbox">
                            <custom-radio data-custom-ng-model="ctrl.size" data-custom-ng-value="4096"></custom-radio>
                            <strong>Highest security</strong> <small>(4096-bit)</small>
                        </label>
                    </div>
                </div>
                <p 
                    class="alert alert-info generateModal-key-about">Generating 4096-bit encryption keys may crash or freeze your browser. 4096-bit keys are only recommended for high performance computers - not recommended for table and mobile devices.</p>

                <p 
                    class="generateModal-process-about">We are now generating encryption keys for your address, this may take several minutes and temporarily freeze your browser.</p>

                <div class="pm_table">
                    <table>
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th style="width: 6rem" class="text-right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr 
                                class="generateModal-row" 
                                data-state="{{address.state}}" 
                                ng-repeat="address in ctrl.addresses | orderBy: 'Order' track by address.ID">
                                <td>{{ ::address.Email }}</td>
                                <td class="text-right">
                                    <span class="pm_badge generateModal-state-queued">Queued</span>
                                    <span class="generateModal-state-generating pm_badge"><i class="fa fa-spinner fa-spin"></i> <span>Generating</span></span>
                                    <span class="generateModal-state-done pm_badge success">Done</span>
                                    <span class="generateModal-state-saved pm_badge success">Saved</span>
                                    <span class="generateModal-state-error pm_badge error">Error</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()">Cancel</button>
                <button type="submit" class="pm_button primary pull-right">Generate Keys</button>
            </div>
    </form>
    <div class="modal-overlay"></div>
</div>
