<section class="defaultSignature-container">
  <div class="clearfix">
    <div class="col-3-8">
      <label for="displayName">
        <span>Display name</span>
        <a href="https://protonmail.com/support/knowledge-base/display-name/" target="_blank" class="text-purple"><i class="fa fa-info-circle"></i></a>
      </label>
    </div>
    <div class="col-5-8">
      <input
         id="displayName"
         type="text"
         name="displayName"
         ng-model="displayName">
    </div>
  </div>
  <div class="clearfix">
    <div class="col-3-8">
      <label
         for="signature">Signature</label>
    </div>
    <div class="col-5-8">
      <squire
         id="signature"
         name="signature"
         class="form-control no-resize"
         data-type-content="signature"
         allow-data-uri="true"
         data-value="signature"></squire>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-3-8">
      <label>Mail Signature</label>
    </div>
     <div class="col-5-8">
       <toggle
          ng-if="protonSignature.isMandatory"
          class="defaultSignature-toggle small pull-rught"
          data-status="protonSignature.isActive"
          data-on="ON"
          data-off="OFF"
          data-name="changePMSignature"></toggle>
       <p ng-bind-html="protonSignature.content"></p>
       <p class="alert alert-info" ng-if="protonSignature.isMandatory" translate translate-context="Info">
       </p>
     </div>
  </div>
  <div class="clearfix">
    <div class="col-3-8">&nbsp;</div>
    <div class="col-5-8">
      <button class="pm_button primary" ng-click="saveIdentity()">Save</button>
      <a ui-sref="secured.account" class="defaultSignature-link-signatures pm_button">Edit other signatures</a>
    </div>
  </div>
</section>

