<div class="usernamePassword-container">
    <label 
        class="titleLabel usernamePassword-title-password" 
        for="password">Password</label>

    <div class="margin usernamePassword-field-password">
        <input 
            data-form="form"
	    ng-model="password"
	    ng-keyup="updatePassword()"
	    type="password"></password>
    </div>

    <br/>
    <div class="margin usernamePassword-field-password-confirm">
        <input 
            data-form="form" 
            data-compare="model.password"
	    ng-model="passwordc"
	    ng-keyup="updatePassword()"
	    type="password"></password>
    </div>

</div>
