<div class="usernameDomain-container">
  <label 
     class="titleLabel">Username and domain
  </label>

  <p class="help">This will be your new email address.</p>

  <div class="usernameWrap" ng-controller="UsernameDomainController">
    <input 
       data-id="username" 
       data-name="username"
       type="text" 
       name="username"
       ng-model="username"
       ng-model-options="{ updateOn: 'default blur', 
			 debounce: { 'default': 500, 'blur': 0 }
			 }"
       ng-keyup="update()"
       type="text"
       />
    
    <em>@</em>

    <div class="pm_select inline bigger">
      <select  
	 name="domain" 
	 id="domain"
	 ng-model="domain" 
	 ng-options="domain as domain.label for domain in domains track by domain.value"
	 ng-keyup="update()"
	 ng-mouseup="update()"></select>
    </div>
    
    <br />
    <p class="alert alert-success signUpProcess-about-success">Username available</p>
    <p class="alert alert-info signUpProcess-about-pending">Checking username</p>
    
    <div ng-messages="form.username.$error" class="signupProcess-about-error">
      <p ng-message="required" class="alert alert-danger">Username required </p>
      <p ng-message="valid" class="alert alert-danger">Username invalid</p>
    </div>
  </div>
