<form 
    class="dropdown-label-container">

    <div class="dropdown-label-title">
        <p class="dropdown-label-title-hasLabels">Label as</p>
        <p class="alert alert-info">No labels</p>
    </div>

    <label class="dropdown-label-search">
        <i class="fa fa-search dropdown-label-search-icon"></i>
        <input 
            class="dropdown-label-search-input" 
            type="search"  
            ng-model="searchLabels" 
            ng-minlength="1">
    </label>

    <div class="dropdown-label-scrollbox scrollbox-container">
        <ul class="scrollbox-container-group">
            <li 
                class="scrollbox-container-group-item"
                ng-repeat="label in (filteredLabels = (labels | filter: {Name: searchLabels} | orderBy: 'Order')) track by label.ID" 
                data-label-id="{{::label.ID}}" 

                <label class="dropdown-label-scrollbox-label" data-label-id="{{:label.ID}}">
                    <span class="dropdown-label-scrollbox-label-text">
                        <i class="dropdown-label-scrollbox-label-icon fa fa-tag" data-label-id="{{:label.ID}}"></i>
                        <span class="dropdown-label-scrollbox-label-text-ellipsis ellipsis">{{ ::label.Name }}</span>
                    </span>
                    <div class="dropdown-label-scrollbox-label-checkbox">
                        <custom-checkbox 
                            data-custom-ng-model="label-Selected" 
                            data-custom-class="scrollbox-container-group-item-empty"
                            data-custom-ui-indeterminate="label.Selected === null"></custom-checkbox>
                    </div>
                </label>
             </li>
             <li 
                class="scrollbox-container-group-item-empty">no label found</li>
        </ul>
    </div>

    <label class="dropdown-label-alsoArchive">
        <span class="dropdown-label-alsoArchive-txt label-fillWidth">Also Archive</span>
        <div class="dropdown-label-alsoArchive-checkbox">
            <custom-checkbox 
                data-custom-ng-model="alsoArchive" 
                data-custom-ng-change="changeAlsoArchive()" 
                data-custom-class="dropdownLabels-input-archive"></custom-checkbox>
        </div>
    </label>

    <button 
        class="pm_button primary dropdown-label-apply" 
        tabindex="1">Apply</button>
</form>
