<nav class="toolbarDesktop-container">
  <span class="back">
    <a href="#" ng-click="back()">back to list
      <i class="fa fa-long-arrow-left"></i>
    </a>
  </span>
  <a 
     class="open-folder">open-folder
    <i class="fa fa-folder"></i>
    <i class="fa fa-angle-down"></i>
  </a>
  <div id="tour-label-dropdown">
    <a 
       class="open-label">open-label
      <i class="fa fa-tag"></i>
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
  <div class="pull-right action toolbarDesktop-actions-right">
  </div>
</nav>
