<article class="message" ng-class="{
				   'open': message.expand, 
				   'errorDecryption': message.failedDecryption, 
				   'marker': message.ID === marked.ID, 
				   'unread': message.IsRead === 0,
				   'details': message.toggleDetails === true, 
				   'draft': message.Type === 1, 
				   'sent': message.Type === 2 || message.Type === 3,
				   'hasSender': message.Sender.Address.length, 
				   'message-mode-plain': message.viewMode === 'plain' 
				   }">
  
  <div class="summary" toggle-message>
    <div class="pull-left">
      <div class="meta">
        <i class="history fa fa-reply"></i>
        <i class="history fa fa-reply-all"></i>
        <i class="history fa-mail-forward"></i>
        <span class="contact message-contact">
          <span class="from message-contact-from"><span>From</span>:</span> <strong>{{ ::message.Sender | contact:'Name' }}</strong> <em>{{ ::message.Sender | contact:'Address' }}<message-compose-to class="message-contact-sender" data-key="Sender"></message-compose-to></em>
        </span>
      </div>
      <div class="location message-summary-folder">
        <folders-message></folders-message>
      </div>
    </div>
    <div class="labels message-summary-labels">
      <labels-element 
         data-button="remove"
         data-element="message" 
         class="message-summary-labels-list"></labels-element>
    </div>
    <div class="time">
      <i class="fa fa-paperclip"></i>
      <time class="time-readable">{{ ::message.Time | localReadableTime }}</time>
      <time 
         class="time-machine" 
         time-refreshed="{{ ::message.Time }}" 
         time-filter="messageTime" 
         time-interval="30000"></time>
    </div>
    <div class="status">
      <pt-star
         data-model="message" 
         class="singleStar" 
         data-pt-star-type="message"></pt-star>
      
      <span class="fa locks" title="{{ ::message.encryptionType() }}">
      </span>
    </div>
  </div>
  
  <div>
    
    <div class="details">
      <div class="recipients-summary">
        <strong>To</strong>:
        <span 
           class="recipients-summary-label" 
           ng-repeat="email in recipients() track by $id(email)" 
           title="{{ ::email | contact:'Address' }}">{{::email | contact: 'Name': true | nameRecipient}}</span>
        <span 
           class="recipients-summary-label">Undisclosed Recipients</span>
      </div>
      
      <div class="recipients-details">
        <message-contacts 
           class="recipients-details-toGroup" 
           data-model="::message.ToList" 
           data-list="To"></message-contacts>
	
        <message-contacts 
           class="recipients-details-ccGroup" 
           data-model="::message.CCList" 
           data-list="CC"></message-contacts>
	
        <message-contacts   
           class="recipients-details-bccGroup" 
           data-model="::message.BCCList" 
           data-list="BCC"></message-contacts>
      </div>
      
      <all-message-labels ng-if="message.toggleDetails"></all-message-labels>
      
      <div class="action-row">
	
        <div class="actions pull-right">
          <div class="pm_buttons">
            <filter-button data-message="message"></filter-button>
            <div class="pm_buttons">
              <a class="pm_trigger open-folder pull-left" pt-tooltip-translate-comment="Tooltip" dropdown>
                <small><i class="fa fa-folder"></i> <i class="fa fa-angledown"></i></small>
              </a>
              <div class="pm_dropdown right wide pull-left">
                <dropdown-folders data-elements="getElements"></dropdown-folders>
              </div>
            </div>
            <div class="pm_buttons">
              <a class="pm_trigger open-label pull-left" pt-tooltip-translate-comment="Tooltip" dropdown>
                <small><i class="fa fa-tag"></i> <i class="fa fa-angle-down"></i></small>
              </a>
              <div class="pm_dropdown right wide pull-left">
                <dropdown-labels data-messages="getMessage" data-message="message" data-save="saveLabels"></dropdown-labels>
              </div>
            </div>
          </div>
          <nav class="pm_buttons">
            <a 
               class="message-actionBtn-reply" 
               data-action-compose="::message" 
               data-action-compose-type="reply">
              
              <i class="fa fa-mail-reply"></i>
            </a>
            <a 
               class="message-actionBtn-replyall"
               data-action-compose="::message" 
               data-action-compose-type="replyall">
              <i class="fa fa-mail-reply-all"></i>
            </a> 
	    
            <a 
               class="message-actionBtn-forward" 
               data-action-compose="::message" 
               data-action-compose-type="forward">
              <i class="fa fa-mail-forward"></i>
            </a>
            <a href="#" class="pm_trigger" dropdown>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="pm_dropdown wide right">
              <button 
                 data-action-message="move" 
                 data-action-message-type="inbox"> 
                <i class="fa fa-inbox"></i>
                 <span>Move to inbox</span>
	      </button>
	      <button 
		 data-action-message="move" 
		 data-action-message-type="trash"> 
                <i class="fa fa-trash-o"></i>
                <span>Move to trash</span>
	      </button>
	      <button data-action-message="unread">
		<i class="fa fa-eye-slash"></i>
                <span>Mark as unread</span>
              </button>
              <button 
                 data-action-message="move" 
                 data-action-message-type="spam">
                <i class="fa fa-ban"></i>
                <span>Mark as spam</span>
              </button>
              <button 
                 data-action-message="delete">
                <i class="fa fa-times"></i>
                <span>Delete</span>
              </button>
              <button data-action-message="togglePlainHtml">
                <span>
                  <i class="fa fa-file-text-o"></i>
                  <span>View source code</span>
                </span>
                <span>
                  <i class="fa fa-file-photo-o"></i>
                  <span>View rendered HTML</span>
                </span>
              </button>
              <button data-action-message="viewPgp">
                <i class="fa fa-code"></i>
                <span>View headers</span>
                <span>View original</span>
              </button>
              <button data-action-message="print">
                <i class="fa fa-print"></i>
                <span>Print</span>
              </button>
            </div>
          </nav>
        </div>
	
        <button class="toggleDetails" data-action-message="toggleDetails">
          <span class="toggleDetails-label-show">Show details</span>
          <span class="toggleDetails-label-hide">Hide details</span>
        </button>
	
      </div>
    </div>
    
    <div class="expiration">
      <i class="fa fa-hourglass-end"></i>
      <span>This message will expire in</span>
      <time time-refreshed="{{ ::message.ExpirationTime }}"></time>
    </div>
    
    <message-extra></message-extra>
    
    <events-attachments data-model="message"></events-attachments>
    
    <div class="frame message-frame" data-embedded-img-loader data-inject-message-media>
      <loader-tag></loader-tag>
      <message-display-error></message-display-error>
      <div 
         class="bodyDecrypted email message-body-container"
         render-message-body  
         toggle-blockquote
         scroll="true"></div>
      
      <pre 
         class="email message-body-container">{{message.plainText()}}</pre>
    </div>
    
    <list-attachments data-model="message"></list-attachments>
  </div>
  <div class="clear"></div>
  
</article>
