<div class="messageDisplayError-container alert alert-danger">
  <div ng-if="message.failedDecryption && !message.networkError">
    <span class="pull-left fa fa-exclamation-triangle"></span>
    <strong>Decryption error</strong>
    <div>Decryption of this message encryption failed.</div>
    <a href="#" data-reload-state>Try again</a>
  </div>
  <div ng-if="!message.failedDecryption && !message.networkError && message.errorInfo">
    <span class="pull-left fa fa-exclamation-triangle"></span>
    <strong>Sanitization error</strong>
    <a
       href="#"
       class="messageDisplayError-btn-report"</a>
  </div>
    
    <div ng-if="message.networkError">
      <span class="pull-left fa fa-exclamation-triangle"></span>
      <strong>Network error</strong>
      <div>Please check your connection and try again.</div>
      <a href="#" reload-state>Try again</a>
    </div>
</div>
