<div id="pm_settings" class="keysView-container">
  <div class="settings pm_form">
    <div class="row">
      <header-block class="settingsKeys-header-key">
        <h2 
           class="settingsKey-title-key">Email encryption keys</h2>
      </header-block>      
      <p class="alert alert-info">Download your PGP Keys for use with other PGP compatible services. Only incoming messages in inline OpenPGP format are currently supported.</p>
      <p>
        <reactivate-keys-btn data-mode="address"></reactivate-keys-btn>
      </p>
      <address-keys-view 
         data-display-mode="address" 
         data-is-sub-user="isSubUser" 
         data-addresses="addressKeys"></address-keys-view>
    </div>
    <div class="row">
      <header-block class="settingsKeys-header-key">
        <h2 
x           class="settingsKeys-title-key">Contact encryption keys</h2>
      </header-block>
      <p>
        <reactivate-keys-btn data-mode="contact"></reactivate-keys-btn>
      </p>
      <address-keys-view 
         data-display-mode="user" 
         data-is-sub-user="isSubUser"
         data-addresses="userKeys"></address-keys-view>
    </div>
  </div>
</div>
