<div class="moveElements-container">
  <button 
     type="button"
     class="fa fa-trash-o toolbar-btn-trash moveElement-btn-trash"
     >trash</button>
  <button
     type="button"
     class="fa fa-inbox toolbar-btn-inbox moveElement-btn-inbox"
     >inbox</button>
  <button
     type="button" 
     class="fa fa-archive toolbar-btn-archive moveElement-btn-archive"
     >archive</button>
  <button 
     type="button" 
     class="fa fa-ban-toolbar-btn-spam moveElement-btn-spam" 
     >spam</button>
  <button 
     type="button" 
     class="fa fa-times-circle-o toolbar-btn-delete moveElement-btn-delete"
     >delete</button>
</div>
