<div ng-controller="LoginFormController">
  <h4 class="text-center">
    <span>User login</span>
  </h4>
  <form 
     method="post"
     name="loginForm"
     class="loginForm-container" 
     ng-submit="enterLoginPassword($event)"
     action="login">
    
    <label>Username <input type="text" ng-model="user.name"/></label><br />
    <label>Password <input type="password" ng-model="user.password" /></label><br />
    
    <div class="loginForm-actions">
      <div class="loginForm-actions-column">
        <button 
           id="login_btn" 
           type="submit" 
	   class="pull-right loginForm-btn-submit"               
           ng-disabled="networkActivity.loading()" 
           >Login</button>
        <!--<div class="loginForm-actions-row">-->
          <button 
             class="loginForm-btn-help" 
             ng-click="helpLoginModal()" 
             type="button">Need help?</button>
          <!--<signup-link class="loginForm-link-signup loginForm-actions-right">-->
        <!--</div>-->
      </div>
    </div>
  </form>
</div>
